.quiz{
    border: 2px solid gray;
    border-radius: 10px;
    background-color:rgb(232, 242, 239);
    padding: 20px;
}
.quiz img{
    height: 200px;
    border-radius: 10px;
    
}

.btn-test{
    width: 100%;
    padding: 5px 20px;
    font-size: 20px;
    color: white;
    border-radius:20px ;
    background-color: rgb(64, 62, 62);
}

@media screen and (max-width: 600px) {
.quiz img{
    width: 100%;
}
    
}