.header-container{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
    padding: 0 10px;
}
.logo img{
    height:70px;
    color: white;
}

.header a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: white;
}
.header a:hover{
   color: tomato;
}